html, body {
    height:100%;
}
.wrapper {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 10px 80px 40px 1fr 20px;
    font-family: "Helvetica";
}
.pre-header {
    background-image: url("../images/preheader.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.main * {
    margin-left: 5%;
}
.article-image {
    margin-bottom: 20px;
}
.header {
    background-image: url("../images/header.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.menu {
    background-image: url(../images/menu.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    padding-top: 10px;
}
.footer {
    background-image: url(../images/footer.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.main {
    background-image: url(../images/bg.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.content {
    max-width: 100%;
    max-height: 100%;
    padding: 0 4.6%;
    /*border-bottom: 1px solid black;*/
}
.crop-long-texts {
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.article-image img {
    min-width: 300px;
    max-width: 100%;
    max-height: 100%;
}
.main {
    display: grid;
    grid-template-columns: 3fr 1.3fr;
}
.detailed-article {
    border-right-style: dashed;
    border-right-color: #a9b2b9;
    display: grid;
    grid-template-rows: 80px 200px 1fr 20px 40px;

}
.sidebar {
    margin-right: 20%;
}
.sidebar input[type="text"] {
    border-style: dashed;
    border-color: gray;
    margin-left: 0;
}
.title p {
    font-size: 20px;
    font-weight: bold;
}
.latest-articles {
}
.sidebar label {
    font-size: 20px;
    font-weight: bold;
}
.go-and-search {
    margin-left: 5px;
    border: none;
    display: inline;
    background-color: white;
    cursor: pointer;
    font-size: 18px;
    color: gray;
}
.header p, .menu a{
    font-weight: bold;
    color: white;
    margin-left: 10%;
    text-decoration: none;
}
.header p {
    font-size: 30px;
    margin-top: 0;
}
.menu a {
    margin-top: 20px;
}
.most-recent-news {
    padding-top: 7%;
}
.search p {
    margin-left: 0;
}
.article-link {
    margin-left: 0;
    color: #69767e;
}
hr {
    width: 86%;
    height: 0.01px;
    margin-left: 10% !important;
}
.article-link-wrapper {
    width: 70%;
    margin-top: 20px;
}
.author {
    display: inline-flex;
    margin-left: 64%;
    color: #69767e;
    font-size: 15px;
}
.time-icon {
    margin: 0;
    background-image: url(../images/timeicon.gif);
    background-repeat: no-repeat;
    background-size: cover;
    height: 25px;
    width: 25px;
}
.comment-icon {
    margin: 0;
    background-image: url(../images/comment.gif);
    background-repeat: no-repeat;
    background-size: cover;
    height: 25px;
    width: 25px;
}
.author .author-name {
    margin-top: 5px;
    margin-left: 5px;
}