.title p {
    margin-left: 4%;
    font-size: 20px;
    font-weight: bold;
}
.search-item-detail {
    padding-top: 15px;
    margin: 0px 47px;
    padding-bottom: 20px;
}
.search-item-detail a {
    text-decoration: none;
    margin-left: 2px;
}
.search-item-detail .title {
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 10px;
}
.short-description {
    margin: 0;
}
.search-results {
    height: 100%;
    border-right-style: dashed;
    border-right-color: #a9b2b9;
}
.paging {
    text-align: center;
}
.paging a {
    padding-left: 20px;
}
.main .left {
    padding-left: 50px !important;
}
img {
    padding-left: 0px !important;
}
a {
    color: black;
}
.noResultsFound {
    padding-left: 50px;
}